.site-layout {
    .logo {
        height: 32px;
        margin: 16px;
        background: rgba(255, 255, 255, 0.3);
    }

    .btn-toggle-sidebar {
        width: 40px;
        height: 40px;
        padding: 10px 24px;
        font-size: 18px;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
            color: #1890ff;
        }
    }

    &__container {
        padding-top: 50px;
        height: 100vh;
        overflow: auto;
    }

    &__header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px !important;
        padding: 0 !important;
        line-height: 50px !important;
        background: #fff !important;
    }

    &__main-content {
        padding: 15px;
        margin: 15px;
        background: #fff !important;
    }

}

.site-sidebar {
    height: 100vh;
}
